
.poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.card-2{
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.card-3{
    border-radius: 18px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}